{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Гостевая книга{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
<nav class="navbar">
    <div class="container mt-2">
        <ul>
            <li class="d-inline mr-4">
                <a href="{% url 'index' %}">Главная</a>
                {% block menu %}{% endblock %}
            </li>
            <li class="d-inline">
                <a href="{% url 'add_guest' %}">Добавить запись</a>
            </li>
        </ul>
    </div>
</nav>
{% block content %}{% endblock %}
</body>
</html>